body {
    font-family: 'Poppins', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #5E6282;
}

*,
*:before
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container  {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

/*header*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.headerInner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*headerlogo*/
.headerlogo {
    width: 116px;
    height: 35px;
    top: auto;
    left: auto;
    background: url(../images/svg/logo.svg)
}

/* intro */
.intro {
    position: relative;
    width: 765px;
    height: 764px;
    left: 565px;
    top: 105px;
    z-index: 1000;
    background: url(../images/Traveller1.png)
}

/*Навигация*/
.nav {
    font-size: 18px;

}

/*Стиль шрифта меню*/
.navLink {
    display: inline-block;
    vertical-align: top;
    margin: 0 32px;
    color: #5E6282;
    text-decoration: none;
    height: 25px;
    transition: color .2 linear;
}

/*Навигация*/
.navLink:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    display: none;

    background-color: #5E6282;

     /* position: static; */
    position: static;
    top: 100%;
    left: 0;
    z-index: 100;
}


.navLink:hover {
    color: #DF6951;
}

.navLink:hover:after {
    display: block;
}

/*Кнопка войти*/
.button1 {
    display: inline-block;
    color: #5E6282;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    user-select: none;
    padding: .4em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 0.2s;
}

.button1:hover {
    color: #DF6951; 
}

/*Слайдер*/
.head-slider {
    position: absolute;
    height: 764px;
    width: 1160px;
    padding-top: 30px;
}


/*Текст на слайдере*/

/*Текст на сверху*/
.text-slider-first {
    position: absolute;
    width: 410px;
    height: 30px;
    top: 217px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
}

.text-slider-second {
    position: absolute;
    width: 545px;
    height: 267px;
    top: 271px;
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    z-index: 900;
}

.text-slider-third {
    position: absolute;
    width: 477px;
    height: 90px;
    top: 660px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

.slider-button {
    background-color: #F1A501; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 20px 35px
}

.slider-button:hover {
    box-shadow: 0 12px 16px 0 rgba(241, 165, 1, 0.15), 0 17px 50px 0 rgba(241, 165, 1, 0.15)

