body {
    font-family: 'Poppins', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #5E6282;
}

*,
*:before
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container  {
    max-width: 1160px;
    margin: 0 auto;
}

/*header*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.headerInner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*headerlogo*/
.headerlogo {
    width: 116px;
    height: 35px;
    top: auto;
    left: auto;
    background: url(../images/svg/logo.svg)
}

/* intro */
.intro {
    position: relative;
    width: 765px;
    height: 764px;
    left: 565px;
    top: 105px;
    z-index: 1000;
    background: url(../images/Traveller1.png)
}

/*Навигация*/
.nav {
    font-size: 18px;

}

/*Стиль шрифта меню*/
.navLink {
    display: inline-block;
    vertical-align: top;
    margin: 0 32px;
    color: #5E6282;
    text-decoration: none;
    height: 25px;
    transition: color .2 linear;
}

/*Навигация*/
.navLink:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    display: none;

    background-color: #5E6282;

     /* position: static; */
    position: static;
    top: 100%;
    left: 0;
    z-index: 100;
}


.navLink:hover {
    color: #DF6951;
}

.navLink:hover:after {
    display: block;
}

/*Кнопка войти*/
.button1 {
    display: inline-block;
    color: #5E6282;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    user-select: none;
    padding: .4em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 0.2s;
}

.button1:hover {
    color: #DF6951; 
}

/*Слайдер*/
.head-slider {
    height: 764px;
    width: 1160px;
    padding-top: 30px;
}


/*Текст на слайдере*/

/*Текст на сверху*/
.text-slider-first {
    position: absolute;
    width: 410px;
    height: 30px;
    top: 217px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
}

/*Основной текст*/
.text-slider-second {
    position: absolute;
    width: 545px;
    height: 267px;
    top: 271px;
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    z-index: 900;
}

/*Дескрипшен*/
.text-slider-third {
    position: absolute;
    width: 477px;
    height: 90px;
    top: 660px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

/*Пара кнопок слайдера*/

/*Выравнивание*/
.wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    max-width: 700px
    
}

/*Основная кнопка слайдера*/
.slider-button {
    background-color: #F1A501; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 20px 35px
}

.slider-button:hover {
    box-shadow: 0 12px 16px 0 rgba(241, 165, 1, 0.15), 0 17px 50px 0 rgba(241, 165, 1, 0.15)
}

/* Кнопка со стрелкой */
/* .round-arrow {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
} */

/*Круг*/
.round {
    width: 52px; 
    height: 52px;
    background-color: #DF6951;
    padding: 0 0 4;
    margin-left: 44px;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}


.headline {
    padding: 105px 10px 60px 10px;
}

.sub-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #5E6282;
}

.main-text {
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}

.benefits {
    display: flex;
    height: 272px;
    flex-wrap: nowrap;
    
}

.benefit-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.benefit-icon {
    display: inline-block;
    vertical-align: middle;

}

.benefit-headline{
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #1E1D4C;
    padding-bottom: 20px;
}

.benefit-text {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #5E6282;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: stretch
}

.destinations {
    display: flex;
    height: 510px;
    flex-wrap: nowrap;
    justify-content: space-around
}

.destination-item {
    display: flex;
    width: 315px;
    height: 130px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    
}

.des-title-back {
    background-color: rgb(255, 255, 255);
    width: 315px;
    height: 130px;
    border-radius: 0px 0px 24px 24px;
    padding: 0 0 0 0;
    box-shadow: rgb(230, 230, 230) 0px 10px 35px;
}

.des-title {
    display: flex;
    flex-wrap: wrap;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 10px 20px
}

.des-image {
    padding: 0 0 0 0; 
    height: 329px
}

.des-title-nav {
    display: flex;
    height: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 20px 10px 20px
}

.des-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
.des-title-price {
    margin-left: 100px;
}

.des-title-nav-icon {
    height: 20px;
}

.book-trip {
    height: 500px;
    flex-wrap: nowrap;
    justify-content: space-around
}

.book-left {
    width: 512px;
    margin-top: 160px;
}

.book-left-head-text-small {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: #5E6282;
}

.book-left-head-text-large {
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-align: left;
    color: #5E6282;
}

.book-left-icon-back {
    width: 48px;
    height: 48px;
    background: #F0BB1F;
    border-radius: 13px;
}

.book-left-icon {
    padding-top: 31px;
    display: flex;
    flex-wrap: nowrap;
    align-items: normal;
    flex-direction: row;
}

.book-left-icon-text {
    margin-left: 21px;
}

.book-left-icon-tex-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 124.5%;
}

.book-left-icon-tex-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 124.5%;
}